{% extends 'base.html.twig' %}
{% block body %}
    <h1> Si vous voyez cela, c'est que je ne suis pas encore en RT2, revenez l'année prochaine. </h1>

    <button onclick="window.location.href = 'http://127.0.0.1:8000/blog/competence';">Retour aux compétences RT1</button>

{% endblock %}