{% extends 'base.html.twig' %} {# réintégré dans BlogController.php plus tard #}
{% block head %}
<style>
        .bouton-fixe {
            position: fixed; /* Fixe le bouton à une position relative à la fenêtre */
            top: 50%;         /* Positionné à 50% de la hauteur de la page */
            right: 20px;      /* À 20 pixels du côté droit */
            transform: translateY(-50%); /* Centrage vertical exact */
            padding: 15px 30px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }


    </style>
{% endblock %}
{% block body %}
    <h1> Si vous voyez cela, c'est que je ne suis pas encore en RT2, revenez l'année prochaine. </h1>


{% endblock %}