{% extends 'base.html.twig' %}

{% block body %}
<style>
    h1 {
        text-align: center; /* Centrage horizontal */
        font-size: clamp(3rem, 8vw, 6rem); /* Taille dynamique */
        white-space: nowrap; /* Empêche le passage à la ligne */
        margin-top: 10%; /* Déclenche le centrage vertical */
        margin-bottom: 10%;
    }
</style>

<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <h1>Donne Lucas</h1>
</div>
{% endblock %}
