{% extends 'base.html.twig' %}

{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
    <h1 class="text-center display-1">Donne Lucas</h1>
    <h2 class="text-center display-4">Étudiant en première année du BUT Réseau et Télécommunications à l'IUT de Roanne</h2>

</div>
{% endblock %}